<div class="body">
    <div class="container">
        <h2>Bienvenido {{first_name}} {{last_name}}</h2>
        <h1>Lista de Productos</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    <td>{{stock}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>